<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>User Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
